@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #262626;
  --secondaryColor: #315029;
  --accentColor: #413314;
  --bg-color: #efefef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: var(--bg-color);
}

@layer utilities {
  .text-last-center {
    text-align-last: center;
  }
  .text-last-start {
    text-align-last: center;
  }
  .heading-one {
    font-size: 5rem;
    font-weight: 900;
  }
  .heading-two {
    font-size: 4rem;
    font-weight: 700;
  }

  .heading-three {
    font-size: 7rem;
    font-weight: 700;
  }
  .heading-four {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .heading-three {
    font-size: 1rem;
    font-weight: 100;
  }

  .paragraph-one {
    font-size: 1rem;
    font-weight: 500;
  }

  .paragraph-two {
    font-size: 0.75rem;
    font-weight: 100;
  }

  .bg-accent {
    background-color: var(--accentColor);
  }

  .bg-secondary {
    background-color: var(--secondaryColor);
  }

  .bg-default {
    background-color: var(--bg-color);
  }

  .bg-primary {
    background-color: var(--primaryColor);
  }

  .text-bg {
    color: var(--bg-color);
  }

  .text-accent {
    color: var(--accentColor);
  }

  .text-secondary {
    color: var(--secondaryColor);
  }

  .text-primary {
    color: var(--primaryColor);
  }

  .border-secondary {
    border: 2px var(--secondaryColor) solid;
  }

  .default-container {
    width: 100%;
    @apply lg:px-[5%] md:px-[2.5%] px-[2vw];
  }
}
